.page-container {
    display: flex;
    background-color: #1F2937;
    height: 100px;

}
.logo {
    font-weight: bold;
    font-size: 24px;
    color: #f9faf8;
}
.page-items {
    font-size: 18px;
    display: flex;
    justify-content: space-around;

}
.links {
    display: flex;
    justify-content: flex-end;
    margin-left: 500px;
    font-size: 12px;
    color: white;
}
.one {
    margin-right: 15px;

}
.two {
    margin-right: 15px;

}

.logo {
    margin-left: 60px;
}
.image {
    display: inline-block;
    margin-left: 10px;
}
.awesome-cont {
    display: flex;
    background-color: #1F2937;
    height: 200px;


}
.enquiry{
    color: white;
    font-size: small;
    margin: 0%;
}
.button {
    background-color: #3882f6;
    border:2px solid #3882f6;
    border-radius: 5px;
}
.white {
    display: flex;
    height: 400px;
    background-color: white;
    
}
.boxers {
    display: flex;
    height: 154px;
    width: 80px;
    background-color: white;
    justify-content: center;
    margin-top: 100px;
    margin-left: 450px;

}
.holder {
    margin-left: 200px;
}
.six,.seven,.five,.four {
    border: 2px solid blue;
    border-radius: 5px;
    margin-right: 10px;
}
.three {
    margin-right: 10px;

}


.pin {
    background-color: dimgray;
    align-self: flex-end;
    margin-bottom: 50px;
    margin-left: 600px;
}
.qoute {
    display: flex;
    background-color: #dadce0;
    height: 250px;
}
.words {
    display: block;
    margin-top: 60px;
    width: 300px;
margin-left: 280px;

}
.writer {
    display: block;
    margin-left: 140px;
    width: 200px;
}
.action {
    display: flex;
    background-color: #3882f6;
    width: 700px;
    height: 70px;
    margin: 100px;
    border-radius: 5px;
    border: 100px white;

}
.button {
    justify-content: end;
    margin-right: 40px;
    width: 80px;
}
.finish {
    height: 50px;
display: flex;
background-color: #1F2937;
justify-content: center;
font-size: small;
color: white;
}

.second {
    color: white;
    font-size: small;
    width: 400px;
    margin-left: 20px;
}
.first {
    color: white;
    margin-left: 20px;
    margin-top:30px ;
    width: 300px;
}
.cat {
    background-color: #3882f6;
    border:2px solid white;
    border-radius: 5px;
    color: whitesmoke;
    width: 80px;

}
.fish { 
    display: inline-block;
    margin-left: 150px;
    margin-top: 30px;
    
}